/* ======================== */
/* DESKTOP NAV */
/* ======================== */
.skip-to-main {
  position: absolute;
  left: -9999px;
  z-index: 999;
  padding: 1em;
  background-color: white;
  color: black;
  opacity: 0;
}

.skip-to-main:focus {
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
}

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 12vh;
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(5px);
  z-index: 100;
  transition: all 0.3s ease-in-out;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

html {
  scroll-behavior: smooth;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
  position: relative;
  transition: color 0.3s ease;
}

a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: rgb(181, 181, 181);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease;
}

a:hover::after,
a.active::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

a:hover,
a.active {
  color: grey;
}

a.active {
  font-weight: 500;
}

.logo {
  font-size: 2rem;
}

.logo:hover {
  cursor: default;
}

/* ======================== */
/* HAMBURGER NAV (hidden by default) */
/* ======================== */
#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3s ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}

.menu-links a {
  display: block;
  padding: 10px 20px;
  text-align: center;
  font-size: 1.25rem;
  color: black;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

/* ======================== */
/* RESPONSIVE BEHAVIOR */
/* ======================== */
@media (max-width: 768px) {
  #desktop-nav {
    display: none; /* hide desktop nav */
  }

  #hamburger-nav {
    display: flex; /* show hamburger nav */
    justify-content: space-between;
    align-items: center;
    height: 12vh;
    padding: 0 1.5rem;
    width: 100%;
  }

  .logo {
    font-size: 1.5rem;
  }
}
